.main-page {
    width: 100%;
    height: 100%;
    background-color: rgba(234, 248, 244, 0.712);
    font-size: 16px;
}

footer {
    background-color: #3d2514;
    color: aliceblue;
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 1.2rem;
    font-family: Nunito ;
}
.bg {
    background-image: url('./img/hero/hero-Image.png');
    background-size: cover;

}

.header {
    width: 95%;
    display: flex;
    margin: 0 auto;
    padding-top: 20px;

    
}

.logo {
    width: 30%;
    display:flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    height: 40px;
}


nav {
    width: 60%;
    font-family: Nunito, sans-serif ;
    font-weight: 500;
}

nav ul {
    display: flex;
    justify-content: flex-end;
}

nav ul a {
    list-style-type: none;
    text-decoration: none;
    padding: 5px 15px;
    margin: 0 10px;
    color: #3d2514;
    font-size: 1.5rem;
    font-family: 'Bebas Neue', cursive;
}

.hero {
    width: 100%;
    height: max-content;
    display:flex;
    align-items: center;
    justify-content: space-evenly;

}

.left {
    width: 50%;
    height: 60%;
    margin-left: 60px;
    display: inline;
    align-items: center;
}

.right {
    width: 50%;
    height: 60%;
    /* padding: .5% 0; */
    background-image: url('./img/hero/Offer-Image.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;

}

.hero-subtitle {
    width: 88%;
    font-size: 1.2rem;
    font-weight: 400;
    font-family: "Alfa Slab One", serif;
    color: #3d2514;
    text-align: center;
    text-shadow: .18rem .15rem rgba(240, 243, 245, 0.726);
    text-transform: uppercase;
    border: 2px dashed #3d2514;
    
}

.left a {
    text-decoration: none;
    font-size: 1.2rem;
    font-family: Nunito, monospace;
    font-weight: 700;
    padding: 10px 20px;
    outline: .5px solid #000;
    color: #3d2514;
    border-radius: 15px 15px 15px 0 ;
    background-image: linear-gradient(45deg, rgba(252, 52, 52, 0.356), rgba(245, 203, 13, 0.849));
}

.left li {
    list-style-type: none;
    margin-left: 5px;
    margin-top: 30px;

}

.img-hero {
    width: 500px;
}

.hero .burger {
    width: 600px;
    margin-top: 50px;
}